[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/lvgl"]
	path = external/lvgl
	url = https://github.com/lvgl/lvgl
[submodule "external/vba-next"]
	path = external/vba-next
	url = https://github.com/FASTSHIFT/vba-next
